@use '../variables' as v;

.header {
    margin: 20px;
}

.page {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-geist-sans);
}

.HomeButton {
    height: 55px !important;
    width: 100px;
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

.buttonGroup Button {

    &:hover {
        background-color: v.$color-primary !important;
        border-color: v.$color-primary !important;
    }

    &:active {
        background-color: v.$color-secondary !important;
        border-color: v.$color-secondary !important;
    }
}

.rotateIconGroup {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.bottomTag {
    position: absolute !important;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.normalSize {
    height: 120px !important;
    padding: 0 20px;
    width: 200px;
}

.extraLarge {
    @extend .normalSize;
    width: 400px;
}

.ShapeContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.Shape {
    width: 275px;
    height: 120px !important;

    &:hover {
        background-color: v.$color-primary !important;
        border-color: v.$color-primary !important;
    }

    &:active {
        background-color: v.$color-secondary !important;
        border-color: v.$color-secondary !important;
    }
}

.shapeRow {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.ShapeContent {
    &.normal {
        .shapeRow:nth-child(odd) {
            padding-left: 50px;
        }

        .shapeRow:nth-child(even) {
            padding-right: 50px;
        }
    }

    &.reversed {
        .shapeRow:nth-child(odd) {
            padding-right: 50px;
        }

        .shapeRow:nth-child(even) {
            padding-left: 50px;
        }
    }
}



.square {
    width: 100px;
    height: 100px;
    @extend .shapeColor;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    @extend .shapeColor;
}

.ellipse {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    @extend .shapeColor;
}


.trapezoid {
    width: 150px;
    height: 100px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    @extend .shapeColor;
}

.rectangle {
    width: 200px;
    height: 100px;
    @extend .shapeColor;
}

.parallelogram {
    width: 200px;
    height: 100px;
    transform: skew(-20deg);
    @extend .shapeColor;
}

.shapeColor {
    background-color: #888888;

    &:hover {
        background-color: white;
    }
}